header {
	background-color: #f6f9ff;
}
header section {
	max-width: 90rem;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 3.125rem;
	padding: 6.25rem 3.125rem;
}
header section h2 {
	font-family: kanitRegular;
	font-size: 3rem;
}
.faqsArticle1 {
	max-width: 90rem;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 6.25rem;
	padding: 6.25rem 3.125rem;
}
.faqsArticle1 > div {
	display: flex;
	justify-content: center;
	gap: 6.25rem;
}
.faqsArticle1 > div > h3 {
	text-align: right;
}
.faqsArticle1 section {
	flex: 1;
	border-top: 1px solid #d4d4d4;
	max-width: 800px;
}
.faqsArticle1 section > div {
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid #d4d4d4;
}
.faqsArticle1 section div div {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
	height: 80px;
}
.faqsArticle1 section img {
	cursor: pointer;
	width: 25px;
}
.faqsArticle1 section div div h4 {
	font-family: rubikRegular;
}
.faqsArticle1 span {
	font-size: 18px;
}
@media (max-width: 900px) {
	header section {
		padding: 30px;
		min-height: 30vh;
	}
	.faqsArticle1 {
		gap: 4.375rem;
		padding: 30px;
	}
	.faqsArticle1 > div {
		flex-direction: column;
		gap: 50px;
	}
	.faqsArticle1 > div > h3 {
		text-align: left;
	}
}
