.article {
	width: 100%;
	max-width: 90rem;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 3.125rem;
	padding: var(--pagePadding);
	flex-wrap: wrap;
}
.article section {
	flex: 1;
	min-width: 350px;
}

.article h2 {
	color: #030303;
	font-size: 2.8rem;
	font-family: kanitRegular;
}
.article1 {
	min-height: calc(100vh - 6.25rem);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1.5625rem 50px;
}
.article1 .section1 {
	display: flex;
	flex-direction: column;
	gap: 30px;
}
.article1 h2 {
	color: #030303;
	font-size: 3rem;
}
.article1 .section1 div {
	position: relative;
}
.article1 .section1 img {
	position: absolute;
	bottom: 0.6875rem;
	left: 0.3125rem;
	width: 1.25rem;
}
.article1 input {
	width: 100%;
	border: none;
	border-bottom: 0.0625rem solid #d4d4d4;
	padding-left: 1.875rem;
	height: 2.5rem;
	outline-color: var(--secondaryColor);
}
.article1 .section1 input::placeholder {
	font-family: source-serif;
}
.article1 .section2 {
	display: flex;
	align-items: center;
	justify-content: center;
}
.article1 .section2 img {
	width: 80%;
}
.article1 span {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 90%;
	padding: 0 3.125rem;
	gap: 30px;
	overflow: hidden;
}
.article1 span img {
	width: 100%;
	max-width: 7.5rem;
}
.article2 {
	background-color: var(--background);
	display: flex;
	flex-direction: column;
	padding: 3.125rem 3.125rem;
	gap: 3.125rem;
}
.article2 > .article2Header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.article2 h4 {
	font-family: kanitBold;
}
.article2 h3 {
	font-family: kanitBold;
}
.article2 h2 {
	font-family: kanitBold;
	font-size: 40px;
}
.article2Body {
	display: flex;
	justify-content: center;
	gap: 1.875rem;
	border-bottom: 0.0625rem solid #d4d4d4;
	max-width: 90rem;
	margin: auto;
	padding-bottom: 5rem;
	flex-wrap: wrap;
}
.article2Body section {
	border-radius: 0.75rem 0.75rem 0rem 0rem;
	background: #fff;
	box-shadow: 0.375rem 0.0625rem 1.5625rem 0rem rgba(166, 166, 166, 0.25);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	padding: 3.125rem 1.875rem;
	text-align: center;
	max-width: 27.75rem;
	transition: transform 0.5s ease;
	width: 100%;
}
.article2Body section:hover {
	transform: scale(1.05);
}
.article2Sub {
	display: flex;
	max-width: 90rem;
	margin: auto;
	justify-content: space-around;
	padding: 0 50px;
	width: 100%;
	gap: 50px;
	flex-wrap: wrap;
}
.article2Sub section {
	flex: 1;
	min-width: 350px;
}
.article2Sub h2 {
	font-family: kanitRegular;
}
.article2Sub P {
	font-size: 1.125rem;
}
.article2Sub .section1 {
	display: flex;
	flex-direction: column;
	gap: 1.875rem;
	align-items: flex-start;
	padding-right: 6.25rem;
	margin-top: 1.5625rem;
}
.article2Sub .section1 a {
	display: flex;
	align-items: center;
	color: #030303;
	font-family: source-serifBold;
	font-size: 18px;
}
.article2Sub .section2 h5 {
	font-family: kanitRegular;
	font-size: 1.25rem;
	margin: 1.5625rem auto;
}
.article2Sub .section2 div div {
	display: flex;
	align-items: center;
	gap: 1.5625rem;
	flex-wrap: wrap;
}
.article2Sub .section2 label {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0.3125rem;
	border-radius: 0.5rem;
	background: #fff;
	box-shadow: 0.375rem 0.0625rem 1.5625rem 0rem rgba(166, 166, 166, 0.25);
	padding: 0.625rem 1.25rem;
	cursor: pointer;
	min-width: 200px;
	position: relative;
}
.article2Sub .section2 div aside {
	position: absolute;
	height: 500px;
	max-height: 50vh;
	overflow-y: scroll;
	top: 100%;
	left: 0;
	width: 100%;
	background-color: #fff;
	flex-direction: column;
	align-items: center;
	gap: 40px;
	z-index: 2;
	padding: 20px;
	box-shadow: 0.375rem 0.0625rem 1.5625rem 0rem rgba(166, 166, 166, 0.25);
	display: none;
	text-transform: capitalize;
}
.article2Sub .section2 p {
	text-transform: capitalize;
}
.article2Sub .section2 div aside span {
	display: flex;
	align-items: center;
	gap: 20px;
	width: 50%;
	margin: auto;
}
.transparentOverlay {
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 65px;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 1;
	display: none;
}
.article2Sub label input {
	width: 0;
	height: 0;
	visibility: hidden;
	display: none;
}
.article2Sub div > input {
	box-shadow: 0.375rem 0.0625rem 1.5625rem 0rem rgba(166, 166, 166, 0.25);
	border: none;
	outline: none;
	height: 3.125rem;
	width: 100%;
	padding: 0.625rem 1.5625rem;
	font-family: source-serif;
}
.article2Sub input::placeholder {
	color: #000;
	font-family: source-serif;
}
.article2Sub button {
	margin-top: 3.125rem;
}
.article3 {
	display: flex;
	align-items: center;
}
.article3 .section1 {
	margin: 30px auto;
}
.article3 .cities {
	display: flex;
	flex-wrap: wrap;
	margin-top: 3.125rem;
	row-gap: 1.25rem;
}
.article3 .city {
	width: 250px;
	height: 50px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
	text-transform: capitalize;
}
.article3 .flag {
	width: 50px;
	height: 50px;
}
.article3 .section2 img {
	max-width: 100%;
}
.article4Container {
	padding: var(--pagePadding);
}
.article4 {
	background: #fff;
	box-shadow: 6px 1px 25px 0px rgba(166, 166, 166, 0.25);
	min-height: 37.5rem;
	padding-bottom: 50px;
	max-width: 1440px;
	margin: auto;
	display: flex;
	gap: 100px;
	flex-wrap: wrap;
}
.article4 .section1 {
	background-color: #030303;
	min-height: 90%;
	font-size: 3.125rem;
	color: #fff;
	border-radius: 0px 0px 120px 0px;
	background: #13293d;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 6.25rem;
	flex: 1;
}
.article4 p {
	position: relative;
}
.article4 span:last-child {
	font-family: kanitRegular;
	position: relative;
	z-index: 2;
}
.article4 .section1 span:first-child {
	position: absolute;
	background-color: rgba(203, 36, 73, 0.4);
	width: 80px;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	left: -30px;
	top: -40px;
	font-family: source-serif;
	transform: rotate(180deg);
	padding-top: 20px;
	z-index: 1;
}
.article4 .section2 {
	flex: 2;
	min-height: 90%;
}
.article4 .section2 > div {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 9.375rem;
	gap: 50px;
}
.article4 .section2 div p {
	font-size: 1.5rem;
	text-align: center;
}
.article4 .section2 div div {
	display: flex;
	flex-direction: row;
	margin-top: 30px;
	overflow-x: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
	scroll-behavior: smooth;
	max-width: 500px;
}
.article4 .section2 div div::-webkit-scrollbar {
	display: none;
}
.article5 {
	align-items: flex-start;
}
.article5 .section1 {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.article5 .section1 p {
	font-size: 1.125rem;
}
.article5 button {
	width: 200px;
}
.article5 .section2 {
	display: flex;
	flex-direction: column;
	gap: 15px;
	justify-content: center;
}
.article5 .section2 > div {
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid #d4d4d4;
	max-width: 500px;
}
.article5 .section2 div div {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
	height: 50px;
}
.article5 .section2 div div span {
	font-family: rubikBold;
}
.article5 img {
	cursor: pointer;
	width: 25px;
}
.article5 .section2 > div > span {
	text-transform: capitalize;
}
.article6Conatiner {
	height: 600px;
	background-color: #13293d;
	color: #fff;
}
.article6 {
	height: 100%;
}
.article6 section {
	display: flex;
	flex-direction: column;
	gap: 30px;
	align-items: flex-start;
}
.article6 h2 {
	font-family: rubikBold;
	color: #fff;
}
.article6 p {
	font-size: 18px;
}
.article6 div {
	display: flex;
	align-items: center;
	gap: 30px;
	flex-wrap: wrap;
}
.article6 button {
	background-color: #e8f1f2;
	display: flex;
	align-items: center;
	gap: 5px;
	padding: 10px 40px;
	border-radius: 8px;
	cursor: pointer;
	border: none;
	transition: transform 0.5s ease;
	font-family: source-serif;
}
.article6 button:hover {
	transform: scale(1.05);
}
.article6 img {
	width: 30px;
}

@media (max-width: 900px) {
	.article {
		padding: 30px 20px;
		gap: 1.25rem;
	}
	.article1 {
		padding: 0;
		width: 90%;
		margin: auto;
	}
	.article1 form {
		display: flex;
		align-items: center;
		flex-direction: column;

		& div {
			width: 100%;
		}

		& button {
			margin-top: 40px;
		}
	}
	.article1 span {
		padding: 0;
		width: 100%;
	}
	.article2 {
		padding: 3.125rem 1.25rem;
	}
	.article2Sub {
		padding: 0;
	}
	.article2Sub .section1 {
		margin-top: 0px;
		padding: 0;
	}
	.article2Body section {
		padding: 30px 20px;
	}
	.article2Body section:hover {
		transform: scale(1);
	}
	.article2Body section img {
		max-width: 80px;
	}
	.article2Sub .section2 span {
		min-width: 100%;
	}
	.article2Sub form {
		align-items: center;
		display: grid;
	}
	.article2Sub button {
		margin: 1.875rem auto 0;
	}
	.article h2 {
		font-size: 1.8rem;
		text-align: center;
	}
	.article3 p {
		margin-top: 20px;
		text-align: center;
	}
	.article3 {
		flex-direction: column-reverse;
		gap: 1.25rem;
	}
	.article3 .section1 {
		min-height: 0;
	}
	.article3 .cities {
		margin-top: 1.875rem;
	}
	.article3 .city {
		width: 150px;
	}
	.article4 {
		gap: 1.25rem;
		display: block;
		padding-bottom: 0;
	}
	.article4 .section1 {
		padding: 50px 1.875rem 50px;
		min-height: 400px;
		border-radius: 0;
	}
	.article4 .section1 p {
		text-align: center;
	}
	.article4 .section2 {
		padding: 20px 0px;
	}
	.article4 .section2 > div {
		padding: 0px;
		overflow: hidden;
		align-items: flex-start;
		display: block;
	}
	.article4 p {
		width: 90%;
		margin: auto;
	}
	.article5 {
		gap: 3.125rem;
	}
	.article5 button {
		margin-top: 0;
	}
	.article6Conatiner {
		min-height: 350px;
		height: 100%;
	}
	.article6 section div {
		justify-content: center;
	}
	.article6 .section2 {
		display: none;
	}
}
@media (max-width: 400px) {
	.article3 .cities {
		justify-content: space-between;
	}
}
@media (max-width: 768px) and (min-height: 1000px) {
	.article1 {
		min-height: unset;
	}
}
